static/css/dev/compile
static/css/*.css*
static/fonts/*
!static/fonts/roboto-regular.ttf
!static/fonts/roboto-light.ttf
!static/fonts/roboto-bold.ttf
vendor/
node_modules/
static/images/
.DS_Store
._*
static/js/*.js
config.php
app-config.php
static/js/dev/lib/templates.js
npm-debug.log
*.lock
*.gz
.vscode
images/*.png
images/*.jpg
tests/tests.js
typings/
cache/*.jpg
yarn-error.log
dist/
.idea
db
images
.env
.htpasswd
